<resources>
    <settings>
        <setting propertyKey="@Properties.enabled" title="@Strings.SettingEnabledTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.endpointUrl" title="@Strings.SettingEndpointTitle">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.calendarIcsUrl" title="@Strings.SettingCalendarIcsUrlTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.endpointToken" title="@Strings.SettingEndpointTokenTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.notificationBody" title="@Strings.SettingNotificationBodyTitle">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.timeZone" title="@Strings.SettingTimeZoneTitle">
            <settingConfig type="list" required="false">
                <listEntry value="0">@Strings.TimeZoneEndpointDefault</listEntry>
                <listEntry value="1">@Strings.TimeZoneUtc</listEntry>
                <listEntry value="2">@Strings.TimeZoneAmericaNewYork</listEntry>
                <listEntry value="3">@Strings.TimeZoneAmericaChicago</listEntry>
                <listEntry value="4">@Strings.TimeZoneAmericaDenver</listEntry>
                <listEntry value="5">@Strings.TimeZoneAmericaPhoenix</listEntry>
                <listEntry value="6">@Strings.TimeZoneAmericaLosAngeles</listEntry>
                <listEntry value="7">@Strings.TimeZoneAmericaAnchorage</listEntry>
                <listEntry value="8">@Strings.TimeZonePacificHonolulu</listEntry>
                <listEntry value="9">@Strings.TimeZoneEuropeLondon</listEntry>
                <listEntry value="10">@Strings.TimeZoneEuropeParis</listEntry>
                <listEntry value="11">@Strings.TimeZoneAsiaTokyo</listEntry>
                <listEntry value="12">@Strings.TimeZoneAsiaSingapore</listEntry>
                <listEntry value="13">@Strings.TimeZoneAustraliaSydney</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.manualWorkflowTime" title="@Strings.SettingManualWorkflowTimeTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.showBuildVersion" title="@Strings.SettingShowBuildVersionTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.sunriseEnabled" title="@Strings.SettingSunriseEnabledTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.sunriseLatitude" title="@Strings.SettingSunriseLatitudeTitle" prompt="@Strings.SettingSunriseCoordinatesPrompt" helpUrl="https://www.latlong.net/">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.sunriseLongitude" title="@Strings.SettingSunriseLongitudeTitle" prompt="@Strings.SettingSunriseCoordinatesPrompt" helpUrl="https://www.latlong.net/">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.leadMinutes" title="@Strings.SettingLeadMinutesTitle">
            <settingConfig type="numeric" min="0" max="240" required="true" />
        </setting>
        <setting propertyKey="@Properties.bufferMinutes" title="@Strings.SettingBufferMinutesTitle">
            <settingConfig type="numeric" min="0" max="240" required="true" />
        </setting>
        <setting propertyKey="@Properties.morningStart" title="@Strings.SettingMorningStartTitle">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.morningEnd" title="@Strings.SettingMorningEndTitle">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.snoozeMinutes" title="@Strings.SettingSnoozeMinutesTitle" prompt="@Strings.SettingSnoozeMinutesPrompt">
            <settingConfig type="numeric" min="6" max="60" required="true" errorMessage="@Strings.SettingSnoozeMinutesError" />
        </setting>
        <setting propertyKey="@Properties.alertMode" title="@Strings.SettingAlertModeTitle">
            <settingConfig type="list" required="true">
                <listEntry value="0">@Strings.AlertModeVibrate</listEntry>
                <listEntry value="1">@Strings.AlertModeToneVibrate</listEntry>
                <listEntry value="3">@Strings.AlertModeToneOnly</listEntry>
                <listEntry value="2">@Strings.AlertModeNotificationOnly</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.toneStyle" title="@Strings.SettingToneStyleTitle">
            <settingConfig type="list" required="true">
                <listEntry value="0">@Strings.ToneStyleAlarm</listEntry>
                <listEntry value="1">@Strings.ToneStyleLoudBeep</listEntry>
                <listEntry value="2">@Strings.ToneStyleAlertHigh</listEntry>
                <listEntry value="3">@Strings.ToneStyleAlertLow</listEntry>
                <listEntry value="4">@Strings.ToneStyleTimeAlert</listEntry>
                <listEntry value="5">@Strings.ToneStyleCanary</listEntry>
                <listEntry value="6">@Strings.ToneStyleCustom</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.customTonePattern" title="@Strings.SettingCustomTonePatternTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
        <setting propertyKey="@Properties.toneRepeatCount" title="@Strings.SettingToneRepeatCountTitle">
            <settingConfig type="numeric" min="1" max="5" required="true" />
        </setting>
        <setting propertyKey="@Properties.vibrationStyle" title="@Strings.SettingVibrationStyleTitle">
            <settingConfig type="list" required="true">
                <listEntry value="0">@Strings.VibrationStyleDoublePulse</listEntry>
                <listEntry value="1">@Strings.VibrationStyleLongBuzz</listEntry>
                <listEntry value="2">@Strings.VibrationStyleProgressiveRamp</listEntry>
                <listEntry value="3">@Strings.VibrationStyleUrgentPulse</listEntry>
                <listEntry value="4">@Strings.VibrationStyleCustom</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.customVibrationPattern" title="@Strings.SettingCustomVibrationPatternTitle">
            <settingConfig type="alphaNumeric" required="false" />
        </setting>
    </settings>
</resources>
